
body[data-viewfamily=EVENT] .SGWAac, body[data-viewfamily=SCHEDULE] .SGWAac, body[data-viewfamily=SEARCH] .SGWAac {
    border-top: #3c4043 1px solid!important;
}

body{
    font-family: serif!important;
   /* font-weight: bold!important; */
}

.QIadxc {
    border-bottom: #3c4043 1px solid!important;
}

.t8qpF {
        border-right: #3c4043 1px solid!important;
}



.tNDBE:not(.Wyo4Qe) {
    border-left: #3c4043 1px solid!important;
}

.PhLhOd {
    border-right: #3c4043 1px solid!important;
}

.SGWAac{
        background-color: #fffae7!important;
}

.tNDBE{
    background-color: #ffffff00!important;
}

.W0m3G .r4nke {
        background-color: #3c404300!important;
        font-weight: bold!importnat;
}

.iMprOe {
    color: #3c4043!important;
}

/* .W0m3G .r4nke{
    color: #fffae777!important;
} */

.hEtGGf::before {
    display: none!important;
}

.hEtGGf::after {
    display: none!important;
}

.SoBqBf{
    color: #3c4043!important;
        font-weight: bold!important;
}

.W0m3G {

    color: #fffae78a;

}
 
.folmac .r4nke{
    background-color: #fffae7!important; 
    border: #3c4043 1px solid!important;
    color: #3c4043!important;
    box-sizing: border-box;
    
}

.ef2wWc {
    background-color: #fffae7!important;
}

.yzYBvd.F262Ye {
    background-color: #3c4043!important;
}

.uHMk6b {

    border: 7px solid #fffae7!important;

}

.yzYBvd:hover {

    background-color: #f9efcb!important;

}

.dwlvNd, .Hrn1mc{
    display: none!important;
}

.JtukPc{
    background-color: #fffae7!important;
}

.XsU8xf{
        background-color: #ffffff00!important;
}

.oyD5Oc{
    border-color: #f9efcb!important;
}

.LXjtcc{
    display: none!important;
}

.q1j8lf {
    padding: 27px 14px 16px 19px!important;
}

.w5wOHc{
    display: none!important;
}

.YK7obe .yzYBvd.F262Ye {
    color: #fffae7!important;
}

.gb_ja:not(.gb_ka) .gb_id {
    padding: 8px;
    background: #fffae7!important;
}


body[data-viewfamily=EVENT] .gboEAb, body[data-viewfamily=SEARCH] .gboEAb, body[data-viewfamily=EVENT_EDIT] .gboEAb {
    display: block;
    background: #fffae7!important;
}


.GXlaye.qRI4pc{
    border-color: #3c4043!important;

}

.Cd9hpd {
  
  border-color: #3c4043!important;
 
}

.XnnJrc{
border-bottom-color: #fffae7!important;
}

.wy3aMe {
    color: #3c4043!important;
   
}

.GXlaye.qRI4pc:hover {
    background-color: #f9efcb!important;
}

.Cd9hpd:hover, .Cd9hpd .mAozAc.u3bW4e {
    background-color: #f9efcb!important;
}

.yzifAd {
 
    font-family: serif!important;
    font-weight: bold!important; 
}

.J0Jt0d.BdCDHc {
    font-family: serif!important;
     font-weight: bold; 
}

.qZvm2d-ibnC6b-bN97Pc {
    cursor: pointer;
    letter-spacing: 1.1px;
    text-align: left;
  font-weight: bold!important; 
}

.rSoRzd {
    letter-spacing: 1.5px!important;
    font-size: 22px;
      font-weight: bold!important; 
    font-family: serif!important;
    
}


.g3dbUc.smECzc.KKjvXb, .GrxScd .g3dbUc.smECzc:focus {
    background-color: #fef9e6!important;
}

.OCQPo {
        background-color: #fef9e6!important;
}

.GENA3c {
      background-color: #fef9e6!important;
}

.g3dbUc.smECzc:hover, .g3dbUc.KCIIIb:hover {
  background-color: #f9efcb!important;
}

.uQ1ixe .snByac{
        letter-spacing: 2px!important;
 font-weight: bold!important; 
}

.snByac{
            font-weight: bold!important;
    font-family: serif!important;
}

.yzYBvd{
        font-family: serif!important;
    font-weight: bold!important;
}

.wy3aMe{
    font-weight: bold!important;
    font-family: serif!important;
}

.MSZkRb .r4nke {
        font-weight: bold!important;
}

span.SoBqBf[aria-label="土曜日"] {
    color: #3c8ed6!important;
}

span.SoBqBf[aria-label="日曜日"] {
    color: #e63c35!important;
}

.aIwHYe{
   font-family: 'Google Sans',Roboto,Arial,sans-serif!important;
}

.TUH0Sd .r4nke{
        background-color: #3c4043!important;
    color: #f9efcb!important;
    font-weight: bold!important;
}

.Y5sE8d {
    background: #3c4043!important;
    color: #fffae7!important;
}

.poXZ5b:not(.YkAcPc) .snByac {
    
    letter-spacing: 1px!important;
}

.l4V7wb .NPEfkd {
        letter-spacing: 1px!important;
}

.jT5e9 {
        font-weight: bold!important;
    letter-spacing: 1px!important;
}

.CCRNT .snByac{
     letter-spacing: 1px!important;
}

.CCRNT {
      border: #3c4043 1px solid!important;
}

.shdZ7e .mIZh1c {
    background-color: #3c4043!important;
}

.ncFHed {
      background-color: #fffae7!important;
}

.ncFHed .MocG8c.KKjvXb {
       background-color: #f9efcb!important;   
}

.qmv2fc.KKjvXb {
    background-color: #414547!important;
    /* border: 1px #3c4043 solid; */
    color: #fffae7!important;
    font-weight: bold!important;
    letter-spacing: 2px!important;
    font-family: serif!important;
}



.qmv2fc.KKjvXb:hover {
    background-color: #414547c7!important;
}

.shdZ7e .cXrdqd {
        background-color: #414547!important;
}

.XOE24{
        background-color: #f9efcb!important;   
}

.IIB0tc .ULpymb{
    background-color: #f9efcb!important;   
}

.XOE24 .gHlG4 .Erb9le:not(.Hcv3ye) .qmMNRc:hover {
    background-color: #f9efcb!important;
}

.XOE24 .AMBzld {
    border-left: #e4d39a 1px solid!important;
}

.Erb9le:not(.RDPZE) .qmMNRc.y7OZL {
       background-color: #e4d39a!important;   
}

.I7OXgf {
          background-color: #fffae7!important;
}

.LOt69e{
      background-color: #f9efcb!important;   
}

.p9lUpf {
     background-color: #fffae7!important;
}

.Gk2izd {
    background-color: #fffae7!important;
}

.pQdjpb.shor6 .nXeosb {
          background-color: #f9efcb!important;   
}

.jZ0DTb {
    background-color: #f9efcb !important;
}

.HLI7qf {
     background-color: #f9efcb !important;
}

.Dc8KZd{
    background-color: #f9efcb !important;
}

.FpmPAb.FpmPAb {
       background-color: #f9efcb !important;
}

.DyOaYd{
     background-color: #f9efcb !important;
}

.BvQsje, .BvQsje .Kb2sf:not(.IYewr) {
        margin-right: 3px!important;
}

.NtP29 {
    margin-right: 3px!important;
}

.Cd9hpd{
        background-color: #fffae7!important;
}

.gb_uc .gb_Ad{
    display: none;
}

.gb_uc{
    min-width: 0px!important;
}

.gb_Pd img.gb_la{
    display: none!important;
}

.gb_uc.gb_vc .gb_Rb {
    width: 100px!important;
    margin-bottom: 4px!important;
    height: 36px!important;
    background-image: url();
    background-color: #3c4043!important;
        margin-left: 20px!important;
}

.gb_Wb[aria-label="メインドロワー"]{
    display: none!important;
}

.hxbWqd .JAPqpe{
    background-color: #fffae7!important;
}

.gb_le.gb_be{
           background-color: #f9efcb!important;  
}

header.gb_ja{
    background-image: url(38d0071a544b1d23aed070a03e279a20-1200x560.jpg)!important;
    
}

.v83gc, .ogB5bf{
     background-color: #fffae7!important;
}

.gb_le.gb_be .gb_me{
           background-color: ;  
}



.NkK3Fc span[role=heading]{
        font-family: serif!important;
    font-weight: bold!important;
      letter-spacing: 1px!important;
}

.gb_le.gb_be .gb_Fe:not(.gb_Xe){
            font-family: serif!important;
    font-weight: bold!important;
      letter-spacing: 1px!important;
}

div.rF3YF svg, div.rF3YF span {
    color: #3c4043!important;
    fill: #3c4043!important;
    opacity: 1;
}

.OQPTvb {
    opacity: 0.77!important;
}

.gb_ja svg, .gb_3b svg, .gb_uc .gb_Ad, .gb_fc .gb_Ad{
        color: #3c4043!important;
}

.j0nwNb .eh5oYe .eADW5d{
background-color: #fffae7;

}


.CIFHgc{
    border-right: #3c4043 1px solid;
}

.YvjgZe{
border-right: #3c4043 1px solid;
}
    
    
.KSxb4d.F262Ye, body.geSgge .KSxb4d.F262Ye{
        background-color: #3c4043;
}

.gb_lc{
    display: none!important;
}